*{
    margin: 0px;
    padding: 0px;
}
body{
    background-size: cover;
    background-color: rgb(29, 36, 29);
    height: 100vh;
    overflow: hidden;
}
#glass{
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}
#G_O{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    height: 300px;
    width: 300px;
}
#contenedor{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}
#cvs{
    width: 500px;
    height: 500px;
    border-style: solid;
    border-width: 10px;
    border-color: #1c3b1f;
    background-color: #92b66d;
}
#botones{
    display: none;
}


@media screen and (max-width: 500px) {
    #cvs{
        width: 90vw;
        height: 90vw;
    }
    #contenedor{
        height: 50vh;
        margin-top: 10px;
    }
    #botones{
        width: 100%;
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .boton{
        width: 30vw;
        height: 30vw;
        background-color: rgb(192, 10, 10);
        box-shadow: 10px 10px rgb(116, 2, 2);
        border: none;
        border-radius: 50%;
        transition: all ease-in-out 0.3s;
    }  
    #grid{
        width: 90%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    #grid #w{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    #grid #d{
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    #grid #s{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    #grid #a{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}